.one{
    background-color: aqua;
}

.two{
    background-color: red;
    
}

.three{
    background-color: green;
}

.four{
    background-color:grey;
}

.five{
    background-color:black;
    color: antiquewhite;
}

.six{
    background-color:blue;
}

.seven{
    background-color: yellow;
}

.eight{
    background-color:whitesmoke
}

.nc-nav{
    height:80px;
    width:100%;
    background-color:white;
    box-shadow:0px 2px 4px #ccc;
    display:flex;
    flex-direction: row;
}

.nc-nav-hero{
    width:200px;
    flex:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;

}

.nc-nav-content{
    flex:1;
    height:100%;
}

.nc-nav-items{
    display:flex;
    flex-direction:row;
    height:100%;
    

}

.nc-nav-items li{
    list-style-type:none;
    margin:32px;
}

#showcase{
    min-height:calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    box-shadow:0px 4px 8px #ccc;
    width:100%;
    border-radius: 5px;
    padding:5px;
}

.search-input{
    border:0px;
    outline:0px;
}

.showcase-text-container h1{
      text-shadow: 2px 2px  12px #000;
      color:white;
}

.departments{
    padding:8px;

}

.department-list li{
    list-style-type:none;
    border-bottom:1px solid #aaa;
    padding:4px;
    margin-bottom:2px;

}

.product{
    padding:5px; 
}

#promo{
    min-height:calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
