{% extends 'window.html' %}


{% block contents %}

    <div class="container-fluid view">
        <div class="row">
            <h1> About </h1>
            <hr>   
        </div>
    </div>

    <section class="content" id="info">
        <div class="container">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="/static/app/images/fashion.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nomie</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt quae cum, ipsa alias veritatis eius mollitia accusantium, eligendi ratione architecto labore dolor qui iste, itaque placeat at veniam eum?</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Our Promise</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic praesentium eaque ut minus. Repellat similique pariatur maiores dolorem eius inventore, consequatur fugiat sapiente, odit officiis, neque saepe possimus blanditiis obcaecati!.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis praesentium est maxime soluta, eaque molestias voluptatem assumenda sunt mollitia facilis sequi repellendus inventore repellat expedita natus sit dolores error!</p>
                  </div>
                </div>
        </div>
        
    </section>

<!-- <section class="our-promise" id="our-promise">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-8">
                <h3>Our Promise</h3>
            </div>
            <div class="col-md-6 col-sm-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quod ipsa optio quaerat, debitis et eos illum quisquam nemo soluta eveniet maiores voluptatem doloremque deleniti, ullam quasi modi consequatur earum.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque beatae ratione aspernatur? Doloremque quidem explicabo cum accusamus doloribus, fuga velit possimus ratione, facere accusantium neque laborum nostrum, harum distinctio unde?</p>
            </div>
        </div>
    </div>
</section> -->



{% endblock contents %}