{% extends 'window.html' %}
{% load crispy_forms_tags %}

{% block contents %}

<div class="container-fluid view">
    <div class="row">
        <h1> My Account </h1>
        <hr>   
    </div>
</div>

<section class="section-content account-profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method='POST'>

                    {% crispy form %}
                </form>
            </div>            
        </div>
    </div>


</section>
{% endblock contents %}