{% extends 'window.html' %}
{% load crispy_forms_tags %}

{% block contents %}



<section class="section-content account-profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body shadow-md">
                        <form action="" method='POST'>
                            {% crispy form %}
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>


</section>
{% endblock contents %}