{% extends 'window.html' %}


{% block contents %}

<div class="container-fluid view">
    <div class="row">
        <h1> My Account </h1>
        <hr>   
    </div>
</div>

<section class="section-content account-profile">
    <div class="container">
        <div class="row">
            <aside class="col-md 3">
                <ul class="list-group">
                    <a href="#" class="list-group-item active"> Account Overview</a>
                    <a href="#" class="list-group-item"> My Orders</a>
                    <a href="#" class="list-group-item"> My Wishlist</a>
                    <a href="#" class="list-group-item"> Returns and Refunds</a>
                    <a href="#" class="list-group-item"> Received Orders</a>
                </ul>
            </aside>

            <main class="col-md-9">
                <article class="card mb-3">
                    <div class="card-body">
                        <div class="texts">
                            <strong> Mr. John Doe</strong>
                            <br>
                            " loginemail@gmail.com"
                            <br>
                            <a href="#">Edit</a>
                        </div>
                        <hr>

                        <p>
                            <i class="fa fa-map-marker text-muted"></i>
                            "&nbsp; My address:"
                            <br>
                            " GonC City, Champion Street, Building GonC &nbsp;"
                            <a href="#" class="btn-link"> Edit</a>
                        </p>
                        <article class="card-group">
                            <figure class="card-bg">
                                <div>
                                    <h5 class="card-title">00</h5>
                                    <span>Orders</span>
                                </div>
                            </figure>
                            <figure class="card-bg">
                                <div>
                                    <h5 class="card-title">00</h5>
                                    <span>Wishlists</span>
                                </div>
                            </figure>
                            <figure class="card-bg">
                                <div>
                                    <h5 class="card-title">00</h5>
                                    <span>Awaiting Delivery</span>
                                </div>
                            </figure>
                            <figure class="card-bg">
                                <div>
                                    <h5 class="card-title">00</h5>
                                    <span>Delivered Items</span>
                                </div>
                            </figure>
                        </article>

                        <article class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Recent Orders</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <figure class="itemside mb-3">
                                            <div class="aside">
                                                <img src="#" alt="Item" class="border img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <time class="text-muted">
                                                    <i class="fa fa-calendar-alt">

                                                    </i>
                                                    "01.01.3000"
                                                </time>
                                                <p>Item bought goes here</p>
                                                <span class="text-warning">Pending</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="itemside mb-3">
                                            <div class="aside">
                                                <img src="#" alt="Item" class="border img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <time class="text-muted">
                                                    <i class="fa fa-calendar-alt">

                                                    </i>
                                                    "01.01.3000"
                                                </time>
                                                <p>Item bought goes here</p>
                                                <span class="text-success">Success</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="itemside mb-3">
                                            <div class="aside">
                                                <img src="#" alt="Item" class="border img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <time class="text-muted">
                                                    <i class="fa fa-calendar-alt">

                                                    </i>
                                                    "01.01.3000"
                                                </time>
                                                <p>Item bought goes here</p>
                                                <span class="text-warning">Pending</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-outline-primary"> See all orders</a>
                            </div>
                        </article>


                    </div>
                </article>
            </main>
            
            
        </div>
    </div>


</section>
{% endblock contents %}