{% extends 'window.html' %}


{% block contents %}



<section class="faq" id="faq">
    <div class="container view">
        <div class="row mb-5">
            <h1 > Frequently Asked Questions </h1>
            <hr >   
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-deck">
                    {% for faq in faqs %}

                    <div class="card shadow-lg mb-3 ml-3">
                        <div class="card-body">
                            <i class=" {{faq.icon}} fa-5x"></i>
                            <h4 class='h4'>{{faq.name}}</h4>
                            <p>{{faq.description}}</p>
                        </div>
                    </div>
                
                {% endfor %}
                </div>    
            </div>
        </div>
    </div>
</section>
{% endblock contents %}