{% extends 'base.html' %}

{% block window %}

    
        <div class="form-group login-form">
            <h3>Sign In</h3>
            <form action="/login/" method="POST">
            {% csrf_token %}
            {{form.errors}}
            {{form.as_p}}
            <button class="btn btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="/sign-up">Sign Up!</a></p>
            <a href="/recover">Lost Your Password?</a>
        </div>
  
    <script>
        $('input').addClass('form-control')
    </script>

{% endblock window %}

{% comment %} No need for a picture, we could add the nav to this page 
compared with the London site and other stores, the registration pages and 
sign up are barebones {% endcomment %}