{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block window %}

<div class="form-card card shadow-lg">
    <div class="card-body">
        <h3 class='h3'>Recover your password</h3>
        <hr>
        <p>{{message}}</p>
        <form action="/recover-password/"  method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-card-control">
                <input type='submit' class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </div>
</div>
<script>
    $('input').addClass('form-control')
</script>

{% endblock %}