{% extends 'window.html' %}


{% block contents %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Wish List</h3>
        {% for product in items %}
            <div class="wishlist-card">
                <img src="{{product.product.primary_photo_url}}" alt="item image">
                <div class='wishlist-card-content'>
                    <h4>{{product.product}}</h4>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{product.date_added}} </p>
                    {% if product.product.discount > 0 %}
                    <p class="card-text "><span class="old-price">{{currency}}{{product.product.unit_price}}</span>
                        <br>
                    <strong class='new-price'>{{currency}}{{product.product.discounted_price}} <sup>{{product.product.discount}}% OFF!</sup></strong></p>
                    {% else %}
                    <p class="card-text">{{currency}}{{product.product.unit_price}}</p>
                    {% endif %}

                </div>
                <div class='wishlist-card-actions'>
                    <button class='remove-wishlist-item-button'><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h2>{{product.product.quantity_in_stock}}</h2>
                    <h5>IN STOCK</h5>
                    <button class='btn btn-info' onclick='openAddToCart({{product.pk}})'><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>
</div>
{% endblock contents %}