/* vars */

:root {
    --primary: #85A1A5;
    --secondary: steelblue;
    --tertiary: #ECECEC;
    --text-color: #333333;
    --background-color: #EEEEEE;
    --main-font: 'Playfair Display', serif;
    --secondary-font: 'Poppins', 'sans-serif';
}

/* common */

body {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--text-color);;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h6 {
    font-family: var(--main-font);
}

h1{
    text-shadow: 2px 2px  9px var(--text-color);
    color:white;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h6  {
    color: var(--primary);
    text-transform: capitalize;
    font-size: .75rem;
}

.img {
    width: 100%;
    height: auto;
    padding:1rem;
}

input.active {
    width: 200px;
}

.padded {
    padding: 1rem;
}

a.btn.btn-primary, button.btn.btn-primary {
    background-color: var(--primary) !important;
    border: 0px;
}

a.btn-info, button.btn-info {
    background-color: var(--secondary) !important;
    border: 0px !important;
}

.page-item.active .page-link{
    background-color: var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
    color: white;
}

.page-link {
    color: var(--secondary);
}

input[type='submit'] {
    background-color: var(--primary) !important;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: .5rem;
}

/* .info{
    padding: 60px;
    justify-content: center;
    display: grid;
    height: 50vh;
} */

.mobile-only {
    display: none
}

.alert-container .alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.alert-container {
    position: fixed;
    z-index: 10000;
    left: 0px;
    right:0px;
    top: 0px;
}

body > .container {
    background-color: #fefefe;
    box-shadow: 0px 2px 6px var(--tertiary);
    margin-bottom: 2rem;
    padding: 2rem 0.5rem;
}

/* index */
#promo{
    height: 100vh;
    background: rgba(0,0,0,0.3);
}

#showcase{
    min-height:calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/app/images/showcase1.jpg');
    background-size: cover;
}

#trend {
    background-image: url('/static/app/images/triangle-mosaic.png');
    background-repeat: repeat;
    background-size: contain;
    color:var(--text-color);;
    padding: 3rem 0rem;
}


.trend-link {
    border: 1px solid var(--text-color);
}

.carousel-item {
    height: 500px;
    overflow: hidden;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    height: 100%;
    margin: 0px auto;
    width: auto;
}


#best-sellers {
    padding: 2rem;
}

.best-seller-card .card-body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-seller-description {
    font-family:  'Playfair Display', serif;

}

.best-seller-card button {
    background-color: #888;
    color:white;
    font-weight: 700;
    border-radius: 0px;
}

.bg-image {
    background-image: url('/static/app/images/bg.jpg');
    z-index: -1;
    left: 0px;
    top: 0px;
    height:100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
}

.promo-msg {
    background: transparent;
    color:white;
    margin: 0 6rem;
    padding-top: 6rem;
    width: fit-content;
}

.promo-msg a {
    color:var(--text-color);;
    background-color:white;
    border-radius: 0px;
}

/* department */

.departments{
    padding:2rem;
}

.department-list li{
    list-style-type:none;
    border-bottom:1px solid #aaa;
    padding:0.5rem;
    margin-bottom:2px;
    background: white;
}

.department-list a {
    color: var(--text-color);;
    text-decoration: none;
}

#departments {
    border-left: 2px solid #222;
    padding-left:2rem;
}
/* category */

/* product */

.basket-input {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem 2rem;
}

.basket-input input{
    flex: 3
}

.basket-input button.btn{
    flex: 1;
    border: 1px solid #ccc;
}

.basket-input button.btn-primary{
    flex: 6;   
}

.product-img-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.product-img-gallery > div {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 2px 4px;
}


.product-img-gallery > div > img {
    width: 100%;
    height: auto;
    margin: 0px;
}


#products {
    padding: 6rem 4rem 0rem 4rem;
    background-image: url('/static/app/images/pattern.png');
    background-repeat: repeat;
}

.product{
    display: grid;
    grid-template-rows: 200px auto 200px;
    grid-row-gap: 20px 20px;

}

.product-card {
    max-width:300px !important;
    min-width: 200px !important;
    display:relative;
}

.product-card a{
    color: var(--text-color);;
    font-family: 'Playfair Display', serif;
}

.card-top {
    position: relative;
}

.wishlist-overlay button {
    background: transparent;
    border: 0px;
    color: crimson ;
}

.old-price {
    text-decoration: line-through;
    color: #ccc;
}

.new-price {
    font-size: 1.25rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center;
}

.wishlist-overlay {
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
    transition: opacity 3s linear;
    opacity: 0;
    position: absolute;
}

.product-img {
    height: 400px;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-product-img {
    transition: all ease-in-out 0.3s;
    position: relative;
}

.product-img img:hover {
    transform: scale(1.5);
}

.product-sidebar {
    padding: 0.75rem;
}

.product-sidebar > button {
    border: 0px;
    width: 100%;
    text-align: center;
    color: crimson;
    padding: 1rem 2rem;
    background: transparent
}

.share-row ul {
    display: flex;
    flex-direction: row;
    margin: 1rem 4rem;
}

.share-row li {
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.share-row i {
    margin-right: 2rem;
}



.product-card:hover .wishlist-overlay {
    display: flex;
    opacity: 1;
}

.product-grid {
    margin:2rem
}

.related-products {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.related-products > div {
    margin: 1.5rem;
}

/* account */

.aside {
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemside {
    position: relative;
    display: flex;
    width:100%;
}

.account-section {
    display: none
}

.account-section.active-account-section {
    display: block
}

.img-sm{
    height: auto;
    width:80px;
}

.itemside .order-info {
    padding-left: 15px;
    padding-right: 7px;
}

.list-group{
    display:flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item.active{
    z-index: 2;
    background-color: steelblue;
    border-color: steelblue;
    color: #fff;
}

.list-group-item.active:hover {
    color: #fff;
}

.account-container {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.account-profile{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* wishlist */

.wishlist-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    margin: 24px;
    border-bottom: 1px solid #ccc;
    background-color: white;

}

.wishlist-card > div {
    padding: 8px;
}


.wishlist-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wishlist-card-content {
    flex: 1;
}

.remove-wishlist-item-button {
    position: absolute;
    outline: 0px;
    border: 0px;
    background: transparent;
    top: 0px;
    right: 0px;
}

.wishlist-card img {
    height: auto; 
    width: 150px;
}

/* cart */

.checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#cart-cards {
    display: none;
}

#cart-table {
    display: block;
}

.cart-img {
    height: 60px;
    width:auto;
}

.cart-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* modal */

.product-quantities {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    max-width: 300px;
    margin: 0px auto;
}

.product-quantities button{
    flex: 1;
}

.product-quantities input{
    flex: 10;
}

/* forms */

form.filter-form input[type="text"], form.filter-form input[type="number"] {
    display: block;
    width:100%;
    padding: .25rem .50rem;
    border-radius: 4px;
    background-color:white;
    border: 1px solid #ccc;
}

.login-form, .sign-up-form {
    border-radius: 5px;
    box-shadow: 0px 14px 20px 3px #ccc;
    background-color: white;
    z-index: 100;
    
    position: absolute;
    padding: 20px;
}

.login-form {
    width: 300px;
    right: 20vw;
    top: 30vh;
}

.sign-up-form {
    width: 50vw;
    right: 25vw;
    top: 25vh;
}

.form-card {
    width: 50vw;
    margin: 10vh auto;
}

.form-card-control {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* navigation */

nav {
    width:100%;
    background-color:white;
    box-shadow:0px 2px 4px #ccc;
    height: 120px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nc-nav{
    height:60px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nc-nav-depts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-search {
    border: 1px solid #ccc;
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0.25rem;
    background-color:white;
}

.nav-search-element {
    position: relative;
}

.nav-search button {
    border: 0px;
    background: transparent;
    height:1.5rem;
    width: 1.5rem;
    margin-left: 0px;
    margin-right: 0.5rem;
    
}

.nav-search input {
    border: 0px;
    outline: 0px;
    height: 1.5rem;
    margin: 0.5rem;
    padding: .25rem;
    width: 0px;
    transition: width 0.3s ease-in-out;
    
}

.nav-search i{
    color: var(--secondary)
}

input.active {
    width:200px !important;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: steelblue;
}

.nc-nav-hero{
    width:200px;
    flex:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
}

#nc-nav-button {
    display: none
}

.nc-nav-content{
    height:100%;
    display: flex;
    flex-direction: row;
}

.nc-nav-items{
    display:flex;
    flex-direction:row;
    height:100%;
    align-items: center;
}

.nc-nav-items li{
    list-style-type:none;
    margin:22px;
    white-space: nowrap;
}

#nav-search-results {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10000;
    overflow-x: hidden;
}

#nav-search-results div{
    padding: 0.5rem
}

.search-box {
    box-shadow:0px 4px 8px #ccc;
    width:100%;
    border-radius: 5px;
    padding:5px;
    display: flex;
    flex-direction: row;
    background-color:white;
}

.search-box i {
    color: rgba(200,200,200, 0.5)
}

.search-input{
    border:0px;
    outline:0px;
    height: 2rem;
    width: 100%;
    margin-left: 1.5rem;
}
.logo {
    height: 50px;
    width: auto;
    padding: 5px;
}


.nc-currency-tab-links{
    margin-bottom:0;
    margin-left: 0;
    display: flex;
    width:60%;
    display: inline-block;

    
}

.currency-tab {
    cursor: pointer;
    padding: 10px;;
}

.currency-tab:hover {
    background: var(--tertiary);
    color: var(--text-color);
    text-decoration: underline;
}

.nc-currency-tab-links li{
    margin: 0px 5px;
    list-style: none;
    background-color: white;
    color: steelblue;
}

.nc-currency-tab-links li.active {
    background-color: steelblue;
    color: white;
}




.breadcrumbs a {
    color: steelblue;
    text-decoration: none;
}

.breadcrumbs ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

.breadcrumbs h3 {
    margin: 1.25rem 1rem;
}

.breadcrumbs li {
    list-style-type: none;
    display: block;
    padding: .5rem;
    font-size: 1rem;;
}

.breadcrumbs {
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#search-results {
    background-color: white;
}

#search-results div{
    padding: 0.5rem;
    color: var(--text-color);;
}
/* footer */

#footer {
    background-image: url('/static/app/images/footer-pattern.png');
    background-size:contain;
    height: 30vh;
    color:white;
}

#footer h4 {
    font-family: 'Playfair Display', serif;
    padding-left: 2rem;
    border-left: 2px solid white;
}

#footer li {
    list-style-type: none;
}

#footer > div {
    background: rgba(0,0,0,0.7);
    padding-top:4rem;
    height: 100%;
}

#footer a{
    text-decoration: none;
    color: #eee;
}

/* faq */
.faq{
    min-height: 80vh;
    background-image: url(/static/app/images/triangle-mosaic.png);
    display: flex;
}

.faq-row{
    display: block;
    width: 100px;
    height:200px;
    padding-top: 50px;
    text-align:center;
}

.collapsible button{
    background-color: white;
    color: steelblue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.active, .collapsible:hover{
    background-color: white;
}

.collapsible-content{
    /* display: none; */
    overflow: hidden;
    height: 0px;
    transition: all 0.5s linear;
}
.collapsible-content p{
    margin: 20px 18px;
    overflow-y: auto;
    background-color: var(--background-color);
    padding: 20px 18px;
}
 .faq_question {
     font-size: 1.25rem;
     font-weight: 500;
 }
.fa-caret-left{
    float:right;
    padding-right: 20px;
}

.collapsible.active i {
    transform: rotateZ(-90deg);
}

.collapsible i {
    transition: all 0.15s linear;
}

.active .collapsible-content {
    /* display: block; */
    height:200px;
}

.faq_styling{
    text-decoration: none;
    color: black;
}
/* modal */
#message-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width:100vw;
    background: rgba(0,0,0,0.5);
    z-index: 100000;
    display: none;
    opacity: 0;
    transition: all ease-in-out 1s; 
}

#message-modal.modal-active {
    display: block;
    opacity: 1;
}

#message-modal-body{
    height: 20vh;
    position: relative;
    left: 35vw;
    top: 5vh;
    opacity: 0;
    width: 30vw;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    transition: all ease-in 1.5s;
}

#message-modal.modal-active #message-modal-body{
    top: 15vh;
    opacity: 1;
}

#modal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#modal-header button {
    border: 1px solid var(--primary)
}

.helptext {
    color: #bbb;
    text-transform: capitalize;
    font-size: .75rem;
}

.sign-up-form ul:not([class='errorlist']) {
    display: none;
    z-index: 100;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid crimson;
    display: none;
}

.errorlist {
    color: crimson;
    text-transform: uppercase;
}

.sign-up-form li {
    list-style-type: none;
}

/* mobile */

@media(max-width: 575px){
    /* common */

    .login-form {
        width: 80vw;
        right: 10vw;
        top: 10vh;
    }
    
    .sign-up-form {
        width: 80vw;
        right: 10vw;
        top: 10vh;
    }


    /* for toggling the filters and categories in mobile view */
    form.mobile-only, ul.mobile-only, li.mobile-only {
        display: block !important;
    }

    input.active {
        width:150px !important;
    }

    /* departments and categories */
    .department-title {
        border-left: 0px !important;
        text-align: center;
        padding: 0.5rem;
    }

    .departments {
        padding: 0px;
    }

    .filter-title {
        background-color: steelblue;
        color: white;
        text-align: center;
        padding: 0.5rem;
        border-radius: 5px;;
    }

    .filter-form, .department-list {
        display: none;
    }

    /* navigation */
    #nc-nav-button {
        display: block;
        width: 20%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nc-nav-hero {
        flex: 4;
        width: 80%;
    }

    .nc-nav-content {
        /* display: none; */
        height: calc(100vh - 60px);
        width: 70vw;
        top: 60px;
        left: -132vw;
        transition: left  0.3s ease-in;
        position: absolute;
        background-color: white;
    }

    .nc-nav-visible {
        left: 0px;
        display: block;
    }

    .nc-nav-items{
        display:flex;
        flex-direction:column;
        height:60%;
        overflow-y: auto;
    }

    nav {
        height: 60px;
    }
    
    .nc-nav-depts {
        display: none;
    }

    .breadcrumbs {
        overflow-x: scroll;
    }

    .breadcrumbs h3{
        display: none;
    }

    .breadcrumbs ul{
        justify-content: flex-start;
    }

    /* footer */
    #footer {
        min-height: 30vh;
        height: fit-content;
    }

    /* product */
    .share-row span {
        display: none;
    }

    .share-row, .share-row ul {
        margin: 1rem 0px;
    }

    .share-row li {
        border: 0px;
    }

    /* wishlist */
    .wishlist-card {
        flex-direction: column;
    }

    .wishlist-card img {
        width: 100%;
        height: auto;
    }

    /* cart */
    .mobile-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
    .mobile-cart > div {
        flex: 1;
    }

    .mobile-cart > div:nth-child(2) {
        border-left:  1px solid #ccc; 
        border-right:  1px solid #ccc; 
    }

    #cart-cards {
        display: flex;
        flex-direction: column;
    }

    #cart-table {
        display: none;
    }

    .cart {
        overflow-x: scroll;
    }
    
    div.cart-card {
        flex-direction: column;
    }

    .cart-cards .card-body {
        position: relative;
    }

    .cart-remove-button {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
    }

    /* modal */

    #message-modal-body{
        height: 50vh;
        left: 10vw;
        top: 15vh;
        width: 80vw;
    }
}

/* Order-Detail CSS */

.header-content-address-info{
    width: 30%;
    margin-top: 5px;
    vertical-align: top;
}

.invoice-page-container {
    margin: 30px auto;
    padding: 0.5in;
    width: 21cm;
    min-height: 29.7cm;
    height: fit-content;
    box-shadow: 5px 5px 20px #ccc;
    background-color: white;
}

.invoice-footer-position {
    text-align: right;
}

.invoice-message-end {
    text-align: center;
    justify-content: center;
}

.invoice-logo {
        height: 50px;
        width: auto;
        
}