{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'app/css/collections.css' %}" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <title>Nomie's | Collections</title>
    </head>
    <body>
     {% block window %}{% endblock window %}
     {% csrf_token %}
    <!-- Button trigger modal -->
    
    
    <!-- Modal -->
    <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add <b id='product-name'></b> to cart</h5>
                </div>
                <div class="modal-body">
                    <img src="" class='img' alt="No Product Image" id='product-image'>
                    <div class="product-quantities">
                        <button onclick='decrement("product-quantity")' class="btn btn-info"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <input id='product-quantity' type="number" value='1' class="form-control">
                        <button onclick='increment("product-quantity")' class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <input type="hidden" name="" id='product-id'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick='confirmAddToCart()' class="btn btn-primary">AddToCart</button>
                </div>
            </div>
        </div>
    </div>

     <script src=" {% static 'app/js/collections.js' %} "></script>
    </body>
</html>