 <section id="footer">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div>
                        <h4> <i class="fa fa-question-circle" aria-hidden="true"></i> About</h4>
                        <ul>
                            <a href="/about"><li> <i class="fa fa-book" aria-hidden="true"></i> About</li></a>
                            <a href="/faq"><li> <i class="fa fa-question" aria-hidden="true"></i> FAQ</li></a>
                            <a href="#"><li> <i class="fa fa-file-text" aria-hidden="true"></i> Terms of Service</li></a>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 col-md-4">
                    <div>
                        <h4> <i class="fa fa-envelope" aria-hidden="true"></i> Contact</h4>
                        <ul>
                            <a href="mailto:sales@nomies-collection.com"><li> <i class="fa fa-at" aria-hidden="true"></i> Email</li></a>
                            <li> <i class="fa fa-phone" aria-hidden="true"></i> Telephone</li>
                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Address</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div>
                        <h4> <i class="fa fa-share" aria-hidden="true"></i> Social</h4>
                        <ul>
                            <a href="https://www.facebook.com/Nomies-Closet-109048033995183/" target="_blank"><li><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</li></a>
                            <a href="https://www.instagram.com/nomies_collections/"  target="_blank"><li> <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</li></a>
                            <a href="https://wa.me/263734494842"><li> <i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</li></a>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>